<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Mix and Match Trades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="/assets/stylesheets/bidstyle.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" type="text/javascript" src="/assets/javascripts/etrade.js"></script>

</head>

<body>
    <div id="header">
        <img src="/assets/images/header_sky1.jpg" width="800" height="80" />
    </div>
    <div id="menu">
        <p>
            <a href="JavaScript:displayBrowse()" class="navigation">Browse</a>
            <a href="search.html" class="navigation">Search</a>
            <% if  ( isAuthenticated ) { %>
                <a href="/trade" class="navigation">Trade</a>
                <a href="/logout" class="navigation">Logout</a>
                <% } else { %>
                    <a href="/login" class="navigation">Login</a>
                    <% }  %>
                        <a href="/register" class="navigation">Register</a>
                        <a href="register.html" class="navigation">Forgot Password</a>
                        <a href="register.html" class="navigation">Confirmation Email</a>
        </p>
    </div>
    <div id="shell"></div>
    <div id="adds"></div>
    <div id="content">
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Exchange Wish</th>
                <th>Shipment details</th>
                <th>Payment Option</th>
                <th>Minimum Price</th>
            </tr>
            <% for (var i = 0; i < items.length; i++) { %>
                <tr>
                    <td>
                        <%= items[i].title %>
                    </td>
                    <td>
                        <%= items[i].description %>
                    </td>
                    <td>
                        <%= items[i].category %>
                    </td>
                    <td>
                        <%= items[i].exchangeWish %>
                    </td>
                    <td>
                        <%= items[i].shipment %>
                    </td>
                    <td>
                        <%= items[i].payment %>
                    </td>
                    <td>
                        <%= items[i].minimumPrice %>
                    </td>
                </tr>
                <% } %>
        </table>
        </table>


    </div>
    <p class="p"></p>

</body>

</html>